.example-card {
  max-width: 400px;
}
.naruto{
  width: 100vw;
  height: 100vh;
  background-image: url("https://images4.alphacoders.com/824/thumb-1920-824047.jpg");
  background-size: fill;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.rasengan-button {
  background: radial-gradient(circle at center, #87CEEB 0%, #4682B4 50%, #1E90FF 100%);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.2em;

  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 30px #1E90FF, 0 0 60px #1E90FF;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


/* Optional: Add a subtle animation for a dynamic effect */
.rasengan-button::before {
  font-size: 12px;
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(transparent 0%, rgba(255,255,255,0.5) 50%, transparent 100%);
  animation: spin 2s linear infinite; /* Example spin animation */
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.example-header-image {
  background-size: cover;
}
.card{
  width: 20%;
  height: 20% ;
  display: flex;
  flex-direction: row;
}
.all{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
//.nut{
//  background-color: white;
//  border: 1px solid ;
//  width: 40px;
//  border-radius: 10px;
//}
